@model SmarterBalanced.SampleItems.Dal.Models.ItemDigest

<div class="card card-block" onclick="itemPageLink(@Model.BankKey, @Model.ItemKey)">
        <div class="card-contents">
            <h4 class="card-title">@Model.ToString()</h4>
            <p class="card-text">Claim: @Model.Claim</p>
            <p class="card-text">Grade: @Model.Grade</p>
            <p class="card-text">Subject: @Model.Subject</p>
            <p class="card-text">Interaction Type: @Model.InteractionType</p>
        </div>
</div>
