<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head class="site-header-font">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - Smarter Balanced Sample Items </title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="~/images/touch.png">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif" rel="stylesheet">
    <environment names="Development, Staging">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/nav.css" />
    </environment>

    <environment names="Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/nav.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <nav role="navigation">
        <div class="sbNav">
            <div class="sbNav-titleGroup">
                <div class="sbNav-titleGroup-item">
                    <a target="_blank" href="http://www.smarterbalanced.org/">
                        <img alt="Smarter Balanced Logo" src="~/images/SmarterBalanced_logo.png">
                    </a>
                </div>
                <div class="sbNav-titleGroup-item">
                    <h3>Sample Items</h3>
                </div>
            </div>

            <div class="sbNav-linksGroup">
                <a class="sbNav-linksGroup-item" href="@Url.Action(action: "Index", controller: "Home")">
                    Home
                </a>
                <a class="sbNav-linksGroup-item" href="@Url.Action(action: "Index", controller: "AboutItems")">
                    About Test Items
                </a>
                <a class="sbNav-linksGroup-item" href="@Url.Action(action: "Index", controller: "BrowseItems")">
                    Browse Test Items
                </a>
            </div>
        </div>
    </nav>

    <main class="container" role="main">
        @RenderBody()
    </main>

    <footer role="contentinfo">
        <a class="footer-practiceTests" href="http://practice.smarterbalanced.org/">Practice and training tests are available here.</a>
        <div class="footer-copyright">
            <p>&copy; The Regents of the University of California – Smarter Balanced Assessment Consortium</p>
            <a class="footer-sbLink" href="//www.smarterbalanced.org"> www.SmarterBalanced.org</a>
        </div>
    </footer>

    <script src="~/scripts/Polyfill.js"></script>
    <environment names="Development">
        <script>  window.ga = function () {console.log(arguments)} </script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/react/react.js"></script>
        <script src="~/lib/react/react-dom.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.4/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/react/react.min.js"></script>
        <script src="~/lib/react/react-dom.min.js"></script>
        <script>
            window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
            ga('create', 'UA-27429193-4', 'auto');
            ga('send', 'pageview');
        </script>
        <script async src='https://www.google-analytics.com/analytics.js'></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
