<!DOCTYPE html>
<html>
<head class="site-header-font">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - Smarter Balanced Sample Items </title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" type="image/x-icon" href="~/images/touch.png">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/Navbar.css" />
    </environment>

    <environment names="Staging, Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body class="site-body-font">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            
            <div class="navbar-header">
                
                <a class="navbar-brand" target="_blank" href="http://www.smarterbalanced.org/">
                    <img class="logo-line" alt="Smarter Balanced Logo" id="sb-logo" src="~/images/SmarterBalanced_logo.png">
                </a>
                <div class="nav-inner-flex">
                    <h3 class="site-title">Sample Items</h3>
                </div>
            
                <div class="nav-flex">
                    <a class="nav-inner-flex" href="@Url.Action(action: "Index", controller: "Home")">
                        <h3 class="site-header-font">Home</h3>
                    </a>
                    <a class="nav-inner-flex" href="@Url.Action(action: "Index", controller: "Home")">
                        <h3 class="site-header-font">About Test Items</h3>
                    </a>
                    <a class="nav-inner-flex" href="@Url.Action(action: "Index", controller: "ItemsSearch")">
                        <h3 class="search-button site-header-font">
                            <span class="glyphicon glyphicon-search rescale-glyphicon" aria-hidden="true"></span>
                            Search
                        </h3>
                    </a>
                </div>
            </div>

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer>
        <hr />
        <a href="http://practice.smarterbalanced.org/" class="link-font">Practice and training tests are available here.</a>
        <div class="list-inline footer-copyright">
            <li>
                <p>&copy; The Regents of the University of California – Smarter Balanced Assessment Consortium</p>
            </li>
            <li class="pull-right">
                <a href="//www.smarterbalanced.org" class="small-link-font"> www.SmarterBalanced.org</a>
            </li>
        </div>
    </footer>
    <script src="~/scripts/Polyfill.js"></script>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/react/react.js"></script>
        <script src="~/lib/react/react-dom.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/lib/react/react.min.js"></script>
        <script src="~/lib/react/react-dom.min.js"></script>
    </environment>
    @RenderSection("scripts", required: false)

</body>
</html>
